html, body {
    margin: 0;
    padding:0;
    background:#111;
    height:100%;
    overflow:hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container {
    position: relative;
    width:100vw;
    height: 100vw;
}

#video, #canvas {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

#video {
    opacity: 0;
}